---
import PrimaryButtonSmall from "../components/buttons/PrimaryButtonSmall.astro";
import { Image } from "astro:assets";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Prose from "../components/Prose.astro";
const title = "About Me";
const description = "A little bit about Tom";
import portrait from "../assets/images/portrait.webp";
import Header from "../components/Header.astro";
import SecondaryButton from "../components/buttons/SecondaryButton.astro";
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="dark:bg-grey-600 dark:text-grey-200">
		<Header />
		<main transition:animate="slide" class="mx-auto max-w-2xl">
			<article>
				<div
					class="md:my-8 rounded border-b-2 md:border-2 border-black dark:border-grey-400 flex justify-center"
				>
					<Image
						src={portrait}
						class="object-contain"
						alt="hero image"
					/>
				</div>
				<div class="">
					<div class="px-4 my-8">
						<h1 class="text-5xl">{title}</h1>
					</div>
					<div class="px-4">
						<Prose>
							<p>
								Hello! I'm Tom, a seasoned software engineer
								dedicated to building software that works the
								way you want it to. I value a pragmatic approach
								to completing projects and stick to "boring"
								code so maintenance isn't a pain. As a senior or
								lead engineer with almost 10 years in the
								technology sector; I specialize in
								<span class="font-display-medium font-bold"
									>.NET</span
								>,
								<span class="font-display-medium font-bold"
									>Golang</span
								>, and

								<span class="font-display-medium font-bold"
									>Microsoft Azure</span
								>.
							</p>
							<a href="/contact" class="no-underline">
								<h2
									class="font-display-medium uppercase text-4xl"
								>
									Hire me
								</h2>
							</a>
							<p>
								Are you lacking resources to finish a project?
								Maybe you need technical advice?

								<span class="font-display-medium font-bold"
									>I can help</span
								>.
							</p>
							<ul>
								<li>
									I provide technical guidance for .NET
									applications
								</li>
								<li>
									I build lightweight and performant
									applications in Golang
								</li>
								<li>
									I write Infrastructure as Code using best
									practices
								</li>
								<li>
									I design & build CICD pipelines with
									appropriate testing and release strategies
								</li>
								<li>
									I setup secure and resilient Authentication
									and Authorization for Applications
								</li>
								<li>
									I also build front end web app using React,
									Astro, or HTMX
								</li>
							</ul>
							<p>
								I'm open to
								<span class="font-display-medium font-bold"
									>contracting roles</span
								>
								and
								<span class="font-display-medium font-bold"
									>freelancing gigs</span
								>
								for small businesses. If this sounds like you, please

								<SecondaryButton
									href="/contact"
									text="Say Hello"
								/>.
							</p>
						</Prose>
					</div>
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
