---
import HeaderLink from "./HeaderLink.astro";
import { Squeeze as Hamburger } from "hamburger-react";
import { SITE_TITLE } from "../consts";
---

<header>
	<nav
		x-data="{ open: false }"
		class="bg-white dark:bg-grey-600 dark:text-color-200 border-b-2 border-black dark:border-grey-400"
	>
		<div class="flex p-2 justify-between items-center">
			<h2 class="font-display-medium text-3xl">
				<a href="/">{SITE_TITLE}</a>
			</h2>
			<button @click="open = ! open">
				<Hamburger client:only="react" rounded />
			</button>
		</div>
		<div
			x-show="open"
			x-transition:enter="transition ease duration-300"
			x-transition:enter-start="opacity-0 scale-90"
			x-transition:enter-end="opacity-100 scale-100"
			x-transition:leave="transition ease duration-300"
			x-transition:leave-start="opacity-100 scale-100"
			x-transition:leave-end="opacity-0 scale-90"
			class="flex flex-col gap-8 items-center text-2xl py-16"
		>
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="/projects">Projects</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/contact">Contact</HeaderLink>
		</div>
	</nav>
</header>
