---

---

<div
    class="prose dark:prose-invert
  prose-h1:text-3xl dark:prose-headings:text-grey-200
  prose-tr:text-center
  prose-mark:bg-color-yellow
   prose-p:text-justify prose-img:rounded-xl"
>
    <slot />
</div>
