@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
	font-family: 'Gilroy-Black';
	src: url('./lib/fonts/Gilroy-Black.ttf');
}

@font-face {
	font-family: 'Gilroy-Bold';
	src: url('./lib/fonts/Gilroy-Bold.ttf');
}

@font-face {
	font-family: 'Gilroy-SemiBold';
	src: url('./lib/fonts/Gilroy-SemiBold.ttf');
}

@font-face {
	font-family: 'Gilroy-Regular';
	src: url('./lib/fonts/Gilroy-Regular.ttf');
}

@font-face {
	font-family: 'Gilroy-Light';
	src: url('./lib/fonts/Gilroy-Light.ttf');
}

@layer components {
	.backlight:after {
		content: '';
		width: 100%;
		height: 100%;
		top: 0;
		position: absolute;
		background: inherit;
		filter: blur(8px);
		z-index: -1;
		animation: blob 3s infinite ease-in-out;
	}

	@keyframes blob {
		0% {
			transform: scale(1);
		}
		50% {
			transform: scale(0.95);
		}
		100% {
			transform: scale(1);
		}
	}
}
